* {
	    box-sizing: border-box;
	}
	

	body {
	    font-family: 'Noto Sans HK', sans-serif;
	    color: black;
	    text-align: center;
	    font-family: 'PT Sans', sans-serif;
	    margin: 0, auto;
	    padding: 0;
	}
	

	/*** Nav ***/
	@import url(https://fonts.googleapis.com/css?family=Open+Sans:100,300,400,700);
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: White;
  background-size:2000px;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

a {
  display: block;
  width: 100%;
  height: 100%;
}

.menu-opener, .menu-opener:hover, .menu-opener.active, .menu-opener-inner, .menu-opener-inner::before, .menu-opener-inner::after, .menu, .menu.active {
  -webkit-transition: 250ms all;
  transition: 250ms all;
}

.menu-opener {
  cursor: pointer;
  height: 64px;
  position: absolute;
  top: 2%;
  left: 1%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 64px;
}
.menu-opener:hover, .menu-opener.active {
  background: #9a8ca8;
}

.menu-opener-inner {
  background: black;
  height: .5rem;
  margin-left: .75rem;
  margin-top: 1.75rem;
  width: 2.5rem;
}
.menu-opener-inner::before, .menu-opener-inner::after {
  background: black;
  content: '';
  display: block;
  height: .5rem;
  width: 2.5rem;
}
.menu-opener-inner::before {
  -webkit-transform: translateY(-0.75rem);
  -ms-transform: translateY(-0.75rem);
  transform: translateY(-0.75rem);
}
.menu-opener-inner::after {
  -webkit-transform: translateY(0.25rem);
  -ms-transform: translateY(0.25rem);
  transform: translateY(0.25rem);
}
.menu-opener-inner.active {
  background: transparent;
}
.menu-opener-inner.active::before {
  -webkit-transform: translateY(0rem) rotate(-45deg);
  -ms-transform: translateY(0rem) rotate(-45deg);
  transform: translateY(0rem) rotate(-45deg);
}
.menu-opener-inner.active::after {
  -webkit-transform: translateY(-0.5rem) translateX(0rem) rotate(45deg);
  -ms-transform: translateY(-0.5rem) translateX(0rem) rotate(45deg);
  transform: translateY(-0.5rem) translateX(0rem) rotate(45deg);
}

.menu {
  background: #57BC90;
  color: transparent;
  height: 64px;
  position: absolute;
  top: 2%;
  left: 1%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 0rem;
  z-index: -1;
}
.menu.active {
  width: -webkit-calc(100% - 2rem);
  width: calc(100% - 2rem);
}
.menu.active .menu-link {
  color: white;
}

.menu-inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  height: 100%;
  list-style-type: none;
  margin: 0;
  margin-left: 4rem;
  padding: 0;
}

.menu-link {
  color: transparent;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  font-size: 2rem;
  font-weight: 100;
  height: 100%;
  text-align: center;
  text-decoration: none;
}
.menu-link li {
  margin: auto;
}

@media screen and (max-width: 768px) {
  .menu {
    height: auto;
  }
  .menu-inner {
    display: block;
  }
  .menu-link {
    padding: 10px 0;
    font-size: 1.2em;
  }
  .menu.active {
    width: -webkit-calc(100% - 0.5rem);
    width: calc(100% - 0.5rem);
  }
}
	/*** header section ***/
	

	header {
            width: 80%;
            display: inline-block;
            margin-top: 150px;
            height: auto;
}
	}
	

	header span {
	    font-family: 'Roboto', sans-serif;
	    color: black;
	

	}
	

	header h1 {
	    font-size: 32px;
	}
	

	header ul li img {
	    margin: 80px 5px;
	    width: 30px;
	    height: 30px;
	}
	

	header p {
	    font-size: 22px;
	}
	

	

	/*** section styling ***/ 
	

	section, header {
	    min-height: 150px;
	    padding: 4% 0;
		}
	  
	.header img {
  	   max-width: 100%;
    	   height: auto;
           text-align: center;


}
	

	}
	

	h2 {
	    font-family: 'Economica', sans-serif;
	    font-size: 24px;
	}
	

	p {
	    display: inline-block;
	    font-size: 16px;
	    line-height: 30px;
	    color: black;
	    width: 75%;
	}
	

	/*** about section ***/
	

	.about img {
	    border-radius: 25px;
	    margin: 20px 0;
	    padding: 0;
	    
	}
	

	.about {
	    background-color:  #9a8ca8;
            height: auto;
	    max-width: auto;
	 
	}
	

	.about p {
	    line-height: 30px;
	    text-align: left;
	    height: auto;
	    
	}
	

	/*** work section ***/
	

	.work h3 {
	    font-size: 18px;
	}
	.work a {
	    text-decoration: none;
	    display: block;
	    color: black;
	    margin: 10px 0;
	}
	

	.work img {
	    width: 70%;
	}
	
        .work a:link, a:visited {
        background-color: #9a8ca8;
        color: black;
        padding: 14px 25px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
		
        }

        a:hover, a:active {
        background-color: #57bc90;
}
  
	/*** contact section ***/
	

	.contact {
	    background-color: #57BC90;
            color: black;
	  
}
		    
	

	ul {
	      list-style: none;
	      text-align: center;
	      margin: 0;
	      padding: 0;
	}
	

	ul li {
	    display: inline-block;
	    margin: 0;
	}
	

	.contact img {
	    width: 50%;
	   		
	}
	

	/*** footer section ***/
	

	footer {
	    height: 30px;
	    background-color: #57BD90;
	    color: black;
	}
	

	/*** responsive layouts ***/ 
	

	@media screen and (min-width: 768px){
	    body {
	        margin: 0;
	   	width: 100%;
		    
	    }
	
	    .about img {
	        width: 25%;
	    }
	

	    .about p {
	        line-height: 30px;
	    }
	

	    header h1 {
	        font-size: 65px;
	    }
	

	    header p {
	        font-size: 28px;
	    }
	

	    header ul li img {
	        margin: 100px 25px;
	        width: 50px;
	        height: 50px;
	    }
	

	    h2 {
	        font-size: 28px;
	    }
	

	    section p {
	        font-size: 20px;
	        line-height: 30px;
	    }
	

	    .about {
	        height: 700px;
	    }
	

	    .work h3 {
	        font-size:  20px;
	    }
	

	    .work a {
	        font-size: 18px;
	    }
	

	    .work img {
	        margin: 20px;
	    }
	

	    .contact h2 {
	        margin-bottom: 70px;
	    }
	

	    .contact ul li {
	        margin: 0 40px;
	    }
	

	    .contact img {
	        width: 90%;
		
	    }
	}
	    
	

	@media screen and (min-width: 1281px) {
	

	    header h1 {
	        font-size: 48px;
	    }
	

	    header p {
	        font-size: 32px;
	    }
	

	    p {
	        font-size: 24px;
	    }
	

	    h2 {
	        font-size: 28px;
	    }
	

	    .about {
	        height: 700px;
	    }
	

	    .contact ul li {
	        margin: 0 50px;
	    }
	

	}

